<h1>Please enter the shape of your desire.</h1>
<div class="row">
    <div class="col-md-4">
        <textarea placeholder="e.g. Draw an Isosceles Triangle with a height of 100 and a width of 50" rows="4" col="50" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%;" [(ngModel)]="chosenShape"></textarea>
        <br /><br />
        <input type="button" class="btn-primary" value="Draw Shape" (click)="drawShape(chosenShape)" />
    </div>
    <div class="col-md-8">
        <h4>Supported shapes</h4>
        <div class="col-md-4">
            <ul>
                <li>Isosceles Triangle</li>
                <li>Square</li>
                <li>Scalene Triangle</li>
                <li>Parallelogram</li>
                <li>Equilateral Triangle</li>
                <li>Pentagon</li>
            </ul>
        </div>
        <div class="col-md-8">
            <ul>
                <li>Rectangle (<em>3D looking shape</em>)</li>
                <li>Hexagon</li>
                <li>Heptagon</li>
                <li>Octagon</li>
                <li>Circle</li>
                <li>Oval</li>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="apiValues">
    <h3>{{drawingShape}}</h3>
    <canvas id="myCanvas" style="border:1px solid #d3d3d3; width: 100%; min-height: 500px;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
</div>